.item {
    display: flex;
    background-color: #272a41;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
    cursor: pointer;
}