.weapon-single-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1em;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
}