.game-main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left-border {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    border: 1px solid #ffffff;
    overflow: hidden;
}

.middle-border {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    border: 1px solid #ffffff;
    overflow: hidden;
}