.battle-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #1f213399;
}

.battle-container ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 47rem; /* Adjust this value based on your needs */
}